body {
  font-family: 'Noto Sans KR', sans-serif;
}

.pages{
  width: 100%;
  position: relative;
  overflow: hidden;
}

#one-page{
  height: 1080px;
  text-align: center;
  background-color: #FD3478;
}
#one-page > .p1-title{
  width: 50%;
  height: 200px;
  margin: 0 auto;
  margin-top: 180px;
}
#one-page > .p1-title > .p1-logo{
  width: 82px;
  height: 98px;
}
#one-page > .p1-title > .p1-info{
  width: 100%;
  height: 100px;
  font-size: 62px;
  font-weight: bold;
  line-height: 52px;
  color: #fff;
  padding-top: 43px;
  background-color: #FD3478;
}
#one-page > .illurst{
  width: 700px;
  height: 600px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#one-page > .trigger1{
  position: relative;
  opacity: 0;
  top: 200px;
}
#one-page > .illurst > .ill-main{
  width: 666px;
  height: 557px;
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 0;
}
#one-page > .illurst > .ill-back{
  width: 664px;
  height: 557px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#one-page > .p1-wave{
  width: 100%;
  height: 358px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -140px;
}

#two-page{
  height: 1400px;
}
#two-page > .info{
  width: 80%;
  height: 700px;
  position: relative;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
}
#two-page > .info > .p2-logo{
  width: 470px;
  height: 134px;
}
#two-page > .info > .right-box{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
#two-page > .info > .right-box > .text-box{
  width: 100%;
  height: 200px;
  position: relative;
  font-size: 24px;
  line-height: 35px;
}
#two-page > .info > .right-box > .text-box > p{
  font-size: 28px;
  font-weight: bold;
  color: #FD3478;
  margin: 15px 0;
}
#two-page > .p2-text{
  position: relative;
  top: 100px;
  text-align: center;
  font-size: 34px;
  letter-spacing: -2;
  font-weight: bold;
  color: #FD3478;
}
#two-page > .p2-wave1{
  width: 100%;
  height: 429px;
  position: absolute;
  left: 0;
  bottom: 0;
}
#two-page > .p2-wave2{
  width: 100%;
  height: 377px;
  position: absolute;
  left: 0;
  bottom: -5px;
}

#three-page{
  height: 750px;
  background-color: #414141;
}
#three-page > .p3-title1{
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
#three-page > .p3-title1 > span{
  margin: 0 148px;
  font-size: 28px;
}
#three-page > ul{
  width: 1167px;
  height: 321px;
  margin: 130px auto;
}
#three-page > ul > li{
  width: 321px;
  height: 321px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  font-size: 28px;
  margin: 0 -20px;
  border: 1px dashed #fff;
  border-radius: 230px;
}
#three-page > ul > li:first-child{
  padding-left: 0;
}
#three-page > ul > li:last-child{
  padding-right: 0;
}
#three-page > ul > li> p{
  font-weight: bold;
  line-height: 42px;
  text-align: center;
  color: #fff;
}
#three-page > .p3-title2{
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

#four-page{
  height: 1190px;
}
#four-page > .p3-wave1{
  width: 100%;
  height: 213px;
  position: absolute;
  top: 0;
  left: 0;
}
#four-page > .p3-wave2{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#four-page > .p4-title{
  position: relative;
  top: 320px;
  left: 150px;
  font-size: 28px;
  font-weight: bold;
  color: #FD3478;
}
#four-page > .p4-sub{
  width: 1220px;
  height: 100px;
  position: relative;
  top: 560px;
  left: 50%;
  transform: translateX(-50%);
}
#four-page > .p4-sub > li{
  display: inline-block;
  padding: 0 10px;
}
#four-page > .p4-sub > .cir{
  width: 30px;
  height: 38px;
  padding-top: 12px;
  font-size: 25px;
  font-weight: bold;
  color: #FD3478;
  border: 2px solid #FD3478;
  border-radius: 50px;
}
#four-page > .p4-sub > .cir1{
  border-style: dashed;
}
#four-page > .p4-sub > .cir3{
  background-color: #FD3478;
  color: #fff;
}
#four-page > .p4-sub > li > .dotted{
  width: 468px;
  height: 9px;
  margin: 0 20px;
}
#four-page > .p4-main{
  width: 1730px;
  height: 500px;
  position: relative;
  top: 600px;
  left: 50%;
  transform: translateX(-50%);
}
#four-page > .p4-main > li{
  width: 576px;
  height: 100%;
  position: relative;
  float: left;
  text-align: center;
}
#four-page > .p4-main > li > .p4-img{
  width: 130px;
  height: 130px;
}
#four-page > .p4-main > li > .p4-text{
  padding-top: 40px;
  font-size: 26px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: -2;
  color: #676565;
}
#four-page > .p4-main > li > .p4-text > p{
  font-size: 38px;
  font-weight: bold;
  color: #FD3478;
  margin: 35px 0;
}

#five-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 292px 0 52px 0;
}
#five-page > .p5-text{
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 84px;
  text-align: center;
  color: #FD3478;
  letter-spacing: -2px;
}

#six-page {
  background-color: #FD3478;
  padding-top: 492px;
}
.p6-top-arrow {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  height: 30px;
}
#six-page > .p6-wave {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}
.p6-persona {
  padding: 0 154px 0 137px;
}
.p6-persona-title {
  display: block;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-align: left;
}
.p6-persona-content {
  display: flex;
  margin-top: 146px;
  padding: 0 154px;
  position: relative;
}
.p6-persona-avatar {
  display: block;
}
.p6-persona-avatar-image {
  display: block;
  height: 452px;
}
.p6-persona-avatar-name {
  display: block;
  height: 58px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.75;
  letter-spacing: -0.08px;
  text-align: center;
  color: #ffffff;
  margin-top: 48px;
}
.p6-persona-avatar-job {
  margin-top: 14px;
  display: block;
  font-size: 28px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  height: 36px;
  letter-spacing: -0.06px;
  text-align: center;
  color: #ffffff;
}
.p6-persona-content-labels {
  flex: 1 1 auto;
  position: relative;
}
.p6-persona-content-label-box {
  width: 970px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.p6-persona-content-label {
  position: absolute;
  border-radius: 59px;
  height: 96px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: 0 3px 21px 0 rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding: 0 60px;
  font-size: 34px;
  font-weight: 700;
  line-height: 97px;
  letter-spacing: -0.07px;
  text-align: center;
  color: #fd3478;
}
.p6-persona-content-label-arrow {
  position: absolute;
  left: 424px;
  bottom: -128px;
  width: 158px;
  z-index: 1;
}
.p6-vlog {
  position: relative;
  width: 100%;
  background-color: #fd3478;
  padding-top: 267px;
}
.p6-vlog-background {
  position: absolute;
  left: 0;
  right: 0;
  top: 511px;
  width: 100%;
  height: 536px;
  background-color: white;
  content: ' ';
}
.p6-wave-2 {
  width: 100%;
  height: 237px;
  position: absolute;
  left: 0;
  right: 0;
  top: 274px;
}
.p6-vlog-list {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  padding-left: 118px;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.p6-vlog-list::-webkit-scrollbar {
  display: none;
}
.p6-vlog-list::after {
  display: block;
  flex: none;
  width: 118px;
  content: ' ';
  height: 1px;
}
.p6-vlog-listitem {
  flex: none;
  display: block;
  margin: 0 16px;
  width: 545px;
}
.p6-vlog-listitem > img {
  display: block;
  height: 304px;
}
.p6-vlog-listitem > div {
  display: block;
  width: 100%;
  margin-top: 39px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #414141;
}
.p6-vlog-title {
  position: relative;
  z-index: 1;
  height: 861px;
}
.p6-vlog-title-down {
  margin-bottom: 28px;
  height: 20px;
}
.p6-vlog-title > h1 {
  position: relative;
  margin: 0;
  padding: 172px 0 0 0;
  font-size: 36px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: -0.07px;
  text-align: center;
  color: #fd3478;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.p6-title {
  width: 900px;
}
.p6-vlog-title-highlight {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 240px;
  z-index: 2;
}
.p6-vlog-title-wave {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  bottom: 0;
}

#seven-page {
  background-color: #fd3478;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.p7-todo-1 {
  width: 90%;
  height: 558px;
}
.p7-title {
  font-size: 28px;
  font-weight: bold;
  line-height: 2.36;
  letter-spacing: -0.06px;
  color: #fff;
}
.p7-text-1 {
  font-size: 34px;
  font-weight: bold;
  line-height: 63px;
  letter-spacing: -2;
  color: #fff;
  text-align: center;
  padding-top: 194px;
}
.p7-progress {
  width: 100%;
  height: 100%;
  position: relative;
}
.p7-table-1 {
  width: 1582px;
  height: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.p7-table-2 {
  width: 1634px;
  min-height: 983px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.p7-table-3 {
  width: 1634px;
  min-height: 1000px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.p7-table-4 {
  width: 1634px;
  min-height: 1000px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.p7-progress-top {
  display: flex;
}
.p7-progress-badge {
  display: inline-block;
  height: 67px;
  border-radius: 12px;
  background-color: #414141;
  padding: 0 28px;
  font-size: 28px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 68px;
  letter-spacing: -0.06px;
  color: #ffffff;
}
.p7-progress-body {
  display: flex;
  position: relative;
}
.p7-progress-node {
  position: relative;
  flex: none;
  display: inline-block;
  height: 86px;
  border-radius: 43px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  padding: 0 80px;
  font-size: 34px;
  font-weight: 500;
  line-height: 87px;
  letter-spacing: -0.07px;
  text-align: center;
  color: #000000;
  box-sizing: border-box;
}
.p7-progress-node > b {
  font-weight: 700;
  color: #fd3478;
}
.p7-progress-node-wrapper {
  min-height: 86px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.p7-progress-smallnode-wrapper {
  height: 78px;
  display: flex;
  align-items: center;
}
.p7-progress-smallnode {
  height: 78px;
  border-radius: 39px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #868686;
  font-size: 34px;
  font-weight: 500;
  line-height: 79px;
  letter-spacing: -0.07px;
  color: #ffffff;
  text-align: center;
  width: 227px;
}
.p7-progress-search {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  top: 86px;
  left: 1027px;
  align-items: flex-start
}
.p7-progress-desc {
  position: absolute;
  left: 267px;
  top: 390px;
  display: flex;
  align-items: flex-start;
}
.p7-progress-desc > p {
  flex: none;
  margin: 0 46px 0 0;
  font-size: 32px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: -0.06px;
  text-align: right;
  color: #ffffff;
}
.p7-progress-desc > img {
  margin-top: 12px;
  height: 35px;
}
.p7-progress-vertical-line {
  width: 5px;
  background-color: white;
  height: 50px;
  content: ' ';
  margin-left: 107px;
}
.p7-progress-line {
  flex: none;
  height: 5px;
  background-color: white;
  width: 50px;
  content: ' ';
  margin-top: 40px;
}
.p7-chat-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.p7-chat {
  position: relative;
  width: 684px;
  height: 280px;
}
.p7-chat > span {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: -0.07px;
  color: #fd3478;
  left: 164px;
  top: 70px;
}
.p7-chat > img {
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
}
.p7-chat-image {
  width: 386px;
  height: 386px;
  margin-top: 68px;
}
.p7-text-2 {
  font-size: 34px;
  font-weight: bold;
  line-height: 74px;
  letter-spacing: -2;
  color: #fff;
  text-align: center;
}
.p7-main-text {
  width: 960px;
  height: 160px;
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.p7-main-deco-1 {
  width: 264px;
  height: 68px;
  line-height: 68px;
  position: absolute;
  top: 1px;
  left: 250px;
  z-index: 3;
  border-radius: 15px;
  background-color: #28EBDE;
  color: #000;
}
.p7-main-deco-2 {
  width: 345px;
  height: 5px;
  position: absolute;
  bottom: 20px;
  left: 272px;
}
.p7-main-text-1 {
  position: absolute;
  left: 0;
}
.p7-progress-1st {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.09;
  letter-spacing: -0.06px;
  text-align: left;
  color: #ffffff;
}
.p7-process-bold {
  position: absolute;
  z-index: 3;
}
.p7-bold-1 {
  width: 575px;
  height: 469px;
  top: 105px;
  left: 540px;
}
.p7-bold-2 {
  width: 575px;
  height: 598px;
  top: 108px;
  left: 540px;
}
.p7-progress-1st-result {
  position: absolute;
  left: 760px;
  bottom: 336px;
  font-size: 28px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: -0.06px;
  text-align: center;
  color: #ffffff;
}
.p7-ut {
  width: 100%;
  height: 100%;
}
.p7-ut-title {
  width: 90%;
  height: 67px;
  margin: 0 auto;
}
.p7-ut-badge {
  height: 67px;
  border-radius: 12px;
  background-color: #414141;
  padding: 0 28px;
  display: inline-block;
  font-size: 28px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: -0.06px;
  text-align: left;
  color: #ffffff;
}
.p7-ut-description {
  margin: 22px 0 0 0;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.04px;
  text-align: left;
  color: #ffffff;
}
.p7-ut-content {
  width: 90%;
  height: 1104px;
  position: relative;
  left: 5%;
  margin-top: 60px;
}
.p7-ut-item {
  display: block;
  position: absolute;
}
.p7-ut-item-1 {
  top: 65px;
  right: 481px;
}
.p7-ut-item-1 > img {
  display: block;
  width: 632px;
}
.p7-ut-item-2 {
  left: 176px;
  top: 305px;
}
.p7-ut-item-2 > img {
  display: block;
  width: 732px;
}
.p7-ut-item-3 {
  top: 440px;
  right: 175px;
}
.p7-ut-item-3 > img {
  display: block;
  width: 732px;
}
.p7-ut-item-title {
  display: block;
  padding: 0 90px;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.77;
  letter-spacing: -0.05px;
  text-align: left;
  color: #ffffff;
}
.p7-ut-item-message {
  font-size: 30px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: -0.06px;
  text-align: center;
  color: #fd3478;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.p7-ut-item-1-message {
  top: 126px;
}
.p7-ut-item-2-message {
  top: 121px;
}
.p7-ut-item-3-message {
  top: 122px;
}
.p7-ut-result {
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 726px;
}
.p7-result-box {
  width: 1300px;
  height: 100%;
  margin: 0 auto;
}
.p7-ut-result-title {
  display: block;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.09px;
  text-align: center;
  color: #ffffff;
}
.p7-ut-result-title > strong {
  font-size: 45px;
  font-weight: 700;
  line-height: 78px;
}
.p7-ut-result-highlight {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 25px;
}
.p7-ut-result-illust {
  position: absolute;
  left: -15px;
  bottom: 234px;
}

#eight-page {
  background-color: #fd3478;
  overflow: visible;
}
.p8-q-wrapper {
  height: 1077px;
  overflow-x: hidden;
  position: relative;
}
.p8-q-event {
  position: absolute;
  right: 1470px;
  top: 50px;
}
.p8-q {
  position: absolute;
  width: 1460px;
  height: 431px;
  box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.22);
  background-color: #ffffff;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transform-origin: right top;
  transform: rotate(352deg);
  border-radius: 15px;
}
.p8-q-title {
  display: block;
  font-size: 38px;
  font-weight: 700;
  line-height: 2.05;
  letter-spacing: -0.08px;
  text-align: center;
  color: #fd3478;
}
.p8-q-body {
  margin: 28px 0 0 0;
  font-size: 37px;
  font-weight: 500;
  line-height: 1.84;
  letter-spacing: -0.07px;
  text-align: center;
  color: #000000;
}
.p8-q-body > b {
  color: #fd3478;
}
.p8-q-back {
  position: absolute;
  width: 1470px;
  height: 431px;
  background-color: #ca2a63;
  top: 25px;
  right: 10px;
  transform-origin: right top;
  transform: rotate(352deg);
  border-radius: 15px;
  z-index: 1;
}
.p8-arrow {
  width: 125px;
  position: absolute;
  right: 658px;
  top: -140px;
}
.p8-ut {
  width: 100%;
  height: 100%;
}
.p8-ut-content {
  width: 90%;
  height: 1104px;
  position: relative;
  left: 5%;
  margin-top: 60px;
}
.p8-ut-item {
  display: block;
  position: absolute;
}
.p8-ut-item-1 {
  top: 185px;
  left: 190px;
}
.p8-ut-item-1 > img {
  display: block;
  width: 732px;
}
.p8-ut-item-2 {
  right: 163px;
  top: 105px;
}
.p8-ut-item-2 > img {
  display: block;
  width: 732px;
}
.p8-ut-item-3 {
  top: 610px;
  left: 429px;
  z-index: 2;
}
.p8-ut-item-3 > img {
  display: block;
  width: 732px;
}
.p8-ut-item-4 {
  top: 480px;
  right: 163px;
}
.p8-ut-item-4 > img {
  display: block;
  width: 732px;
}
.p8-ut-item-title {
  display: block;
  padding: 0 90px;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.77;
  letter-spacing: -0.05px;
  text-align: left;
  color: #ffffff;
}
.p8-ut-item-message {
  font-size: 30px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.73;
  letter-spacing: -0.06px;
  text-align: center;
  color: #fd3478;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
.p8-ut-item-1-message {
  top: 122px;
}
.p8-ut-item-2-message {
  top: 121px;
}
.p8-ut-item-3-message {
  top: 122px;
}
.p8-ut-item-4-message {
  top: 122px;
}
.p8-result {
  height: 1205px;
  position: relative;
}
.p8-result-box {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
}
.p8-result-title1 {
  padding-top: 278px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: -0.07px;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.p8-result-title2 {
  margin-top: 70px;
  font-size: 45px;
  font-weight: bold;
  line-height: 76px;
  letter-spacing: -2;
  text-align: center;
  color: #ffffff;
  position: relative;
  z-index: 1;
}
.p8-result-img {
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p8-2st-text1 {
  position: absolute;
  left: 680px;
  top: 765px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: -0.06px;
  text-align: center;
  color: #ffffff;
}
.p8-2st-text2 {
  position: absolute;
  right: 28px;
  top: 453px;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: -0.06px;
  text-align: center;
  color: #ffffff;
}
.p8-2st-arrow {
  position: absolute;
  right: 261px;
  top: 553px;
}
.p8-result-deco1 {
  position: absolute;
  left: 146px;
  top: 337px;
}
.p8-result-deco2 {
  position: absolute;
  right: 113px;
  top: 201px;
}
.p8-result-highlight-1 {
  position: absolute;
  left: 635px;
  top: 245px;
  width: 204px;
}
.p8-result-highlight-2 {
  position: absolute;
  left: 1051px;
  top: 321px;
}
.p8-result-highlight-3 {
  position: absolute;
  left: 648px;
  top: 475px;
}
.p8-wave {
  width: 100%;
  height: 364px;
  position: absolute;
  bottom: 20px;
}
.p8-wave > img {
  width: 100%;
}

#nine-page {
  background-color: white;
}
.p9-title-wrapper {
  display: block;
  padding-left: 131px;
}
.p9-title {
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.36;
  letter-spacing: -0.06px;
  text-align: left;
  color: #fd3478;
}
.p9-desc {
  margin-top: 19px;
  font-size: 20px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.04px;
  text-align: left;
  color: #fd3478;
}
.p9-content-box {
  width: 100%;
  height: 1200px;
  background-color: lightpink;
  margin-top: 70px;
}
.p9-insight {
  padding-bottom: 340px;
  position: relative;
}
.p9-insight-coktail-heart {
  position: absolute;
  left: 50%;
  bottom: 288px;
  transform :translateX(-50%);
}
.p9-insight-coktail {
  position: absolute;
  left: 50%;
  bottom: -125px;
  transform :translateX(-53%);
}
.p9-insight-title {
  padding-top: 127px;
  padding-left: 131px;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.36;
  letter-spacing: -0.06px;
  text-align: left;
  color: #fd3478;
}
.p9-insight-box {
  width: 68%;
  height: 280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.p9-main-insight {
  width: 1258px;
  height: 233px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #22D5C9;
  border-radius: 15px;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: -2;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.p9-deco1 {
  position: absolute;
  top: 240px;
  left: 20px;
}
.p9-deco2 {
  position: absolute;
  top: -70px;
  right: 0;
}
.p9-insight-result {
  width: 100%;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p9-result-box {
  width: 1000px;
  height: 100%;
  position: relative;
}
.p9-insight-result-text {
  padding-top: 177px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.62;
  letter-spacing: -0.08px;
  text-align: center;
  color: #fd3478;
}
.p9-insight-result-arrow {
  position: absolute;
  left: 0;
  top: 52px;
}
.p9-wave {
  position: relative;
  width: 100%;
  height: 378px;
}
.p9-wave-wave {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

#ten-page {
  background-color: #fd3478;
}
.p10-content {
  width: 85%;
  height: 6600px;
  margin: 0 auto;
  color: #fff;
}
.p10-title {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -2;
  margin-bottom: 50px;
}
.p10-card {
  width: 100%;
  position: relative;
}
.p10-card-big-title {
  font-size: 150px;
  font-weight: bold;
  letter-spacing: -2;
  line-height: 2;
}
.p10-card-small-title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -2;
  line-height: 1.5;
}
.p10-card-info {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -2;
  line-height: 1.8;
  padding-top: 22px;
}
.p10-card-phone {
  width: 476px;
  height: 913px;
  position: relative;
}
.p10-card-front {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.p10-card-back {
  position: absolute;
  top: 30px;
  right: 0;
}
.p10-card-1 {
  height: 1100px;
}
.p10-card-1-left {
  position: absolute;
  top: 0;
  left: 0;
}
.p10-card-1-right {
  width: 476px;
  height: 913px;
  position: absolute;
  top: 0;
  right: 100px;
}
.p10-card-2 {
  height: 1080px;
  text-align: right;
}
.p10-card-2-left {
  width: 1000px;
  height: 913px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}
.p10-card-2-right {
  position: absolute;
  top: 0;
  right: 100px;
}
.p10-card-2-result {
  height: 3800px;
}
.p10-card-icon-wrap {
  width: 100%;
  height: 800px;
  margin-top: 80px;
}
.p10-card-icon {
  width: 1700px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.p10-card-icon > li {
  width: 521px;
  height: 340px;
}
.p10-card-icon > li > img {
  width: 100%;
  height: 100%;
}
.p10-card-mockup {
  width: 100%;
  height: 1500px;
  margin-top: 300px;
  position: relative;
}
.p10-card-mockup-box {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.p10-card-phone {
  position: absolute;
}
.p10-phone-1 {
  top: 0;
  right: 505px;
}
.p10-phone-2 {
  top: 140px;
  right: 0;
}
.p10-phone-3 {
  top: 1191px;
  left: 0;
}
.p10-phone-4 {
  top: 1053px;
  left: 515px;
}
.p10-phone-5 {
  top: 1444px;
  right: 103px;
}
.p10-card-3-left {
  position: relative;
  top: 0;
  left: 0;
}
.p10-wave {
  height: 842px;
  background-color: white;
  position: relative;
}
.p10-wave-wave {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}

#eleven-page {
  background-color: white;
}
.p11-content {
  width: 85%;
  height: 1236px;
  margin: 0 auto;
  color: #fff;
}
.p11-wave {
  height: 365px;
  position: relative;
}
.p11-wave-wave {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}

#twelve-page {
  background-color: #fd3478;
}
.p12-content {
  height: 990px;
}
.p12-wave {
  height: 378px;
  position: relative;
  background-color: white;
}
.p12-wave-wave {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
}

#thirteen-page {
  background-color: white;
}
.p13-video-wrapper {
  padding-top: 479px;
  padding-bottom: 201px;
}
.p13-result {
}
.p13-title-wrapper {
  display: flex;
  justify-content: center;
}
.p13-title {
  display: block;
  position: relative;
}
.p13-title > span {
  position: relative;
  z-index: 1;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.74;
  letter-spacing: -0.11px;
  display: block;
  text-align: center;
  color: #fd3478;
}
.p13-title-highlight-1 {
  position: absolute;
  left: 258px;
  bottom: -50px;
  z-index: 0;
}
.p13-title-highlight-2 {
  position: absolute;
  left: -80px;
  bottom: 35px;
}
.p13-title-highlight-3 {
  position: absolute;
  left: -42px;
  bottom: -29px;
}
.p13-content {
  height: 770px;
  position: relative;
  overflow: hidden;
}
.p13-people {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  z-index: 1;
}
.p13-people-particle {
  position: absolute;
  left: 50%;
  bottom: 388px;
  transform: translateX(-50.9%);
}

#end {
  background-color: #fd3478;
  padding: 114px 0 200px 0;
}
.p14-title {
  font-size: 52px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.12;
  letter-spacing: -0.1px;
  text-align: center;
  color: #ffffff;
}
.p14-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 156px;
  padding-left: 134px;
  padding-right: 118px;
}
.p14-team {
}
.p14-team > .p14-team-item + .p14-team-item {
  margin-top: 76px;
}
.p14-team-item {
  display: flex;
}
.p14-team-item-profile {
  width: 138px;
  height: 138px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-right: 72px;
}
.p14-team-item-content {
  padding-top: 32px;
}
.p14-team-item-content-title {
  display: flex;
  font-size: 26px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: -0.05px;
  color: #ffffff;
}
.p14-team-item-content-title > span:first-child {
  width: 125px;
}
.p14-team-item-content-email {
  margin-top: 11px;
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: -0.05px;
  text-align: left;
  color: #ffffff;
}
.p14-image {
  width: 845px;
  height: 565px;
  border-radius: 20px;
  border: solid 4px #ffffff;
}
.p14-particle {
  position: absolute;
  left: 208px;
  top: 100px;
  transform-origin: center center;
  transform: scale(0.2);
  transition: transform 500ms ease;
}
.p14-particle.animated {
  transform: scale(1);
}
